<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Trust Service Reputation</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link th:href="@{/css/index.css}" rel="stylesheet" media="screen"/>
</head>
<body>

<th:block th:fragment="agency (agencyNode)">
    <!--/*@thymesVar id="agencyNode" type="fr.marcsworld.model.dto.AgencyNode"*/-->
    <div class="tree-node tree-node-agency">
        <div class="tree-node-header">
            <div class="tree-node-header-name">
                <th:block th:if="${agencyNode.agency.territoryCode}">
                    [<span th:text="${agencyNode.agency.territoryCode}">EU</span>]
                </th:block>
                <span th:text="${agencyNode.mainAgencyName.name}">
                    European Commission
                </span>
            </div>
            <div class="tree-node-header-status">
                <span th:text="${agencyNode.active ? '[active]' : '[inactive]'}">[active]</span>
            </div>
        </div>
        <table class="tree-node-properties">
            <tr>
                <th>Type</th>
                <td th:text="${agencyNode.agency.type}">TRUST_SERVICE_LIST_OPERATOR</td>
            </tr>
            <tr th:if="${agencyNode.agency.referencedByDocumentUrl}">
                <th>Referenced by</th>
                <td th:text="${agencyNode.agency.referencedByDocumentUrl}">
                    https://ec.europa.eu/information_society/policy/esignature/trusted-list/tl-mp.xml
                </td>
            </tr>
            <tr>
                <th>Names</th>
                <td>
                    <table class="agency-names">
                        <tr th:each="agencyName : ${agencyNode.agency.names}">
                            <th th:text="${agencyName.languageCode}">en</th>
                            <td th:text="${agencyName.name}">European Commission</td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>
    </div>
    <div class="tree-sub-nodes">
        <div class="tree-sub-node-with-branches" th:if="${!agencyNode.documentNodes.isEmpty()}">
            <div class="tree-branches">
                <div class="tree-branch-vh"></div>
                <div class="tree-branch-v" th:if="${!agencyNode.childrenAgencyNodes.isEmpty()}"></div>
            </div>
            <div class="tree-sub-node-wrapper">
                <div class="tree-node expandable-tree-node expandable-tree-node-documents">
                    <label>Documents (<span th:text="${agencyNode.documentNodes.size()}">2</span>)</label>
                    <button>+</button>
                </div>

                <div class="tree-sub-nodes" th:each="documentNode, iterDocumentNode : ${agencyNode.documentNodes}">
                    <div class="tree-sub-node-with-branches">
                        <div class="tree-branches">
                            <div class="tree-branch-vh"></div>
                            <div th:if="${!iterDocumentNode.last}" class="tree-branch-v"></div>
                        </div>
                        <div class="tree-sub-node-wrapper">
                            <div class="tree-node tree-node-document">
                                <div class="tree-node-header">
                                    <a class="tree-node-header-name"  th:href="${documentNode.document.url}">
                                        [<span th:text="${documentNode.document.languageCode}">en</span>]
                                        <span th:text="${documentNode.document.url}">
                                            http://www.example.org/document.xml
                                        </span>
                                    </a>
                                    <div class="tree-node-header-status">
                                        <span th:text="${documentNode.document.isStillProvidedByAgency() ? '[active]' : '[inactive]'}">[active]</span>
                                    </div>
                                </div>
                                <table class="tree-node-properties">
                                    <tr>
                                        <th>Type</th>
                                        <td th:text="${documentNode.document.type}">TS_STATUS_LIST_XML</td>
                                    </tr>
                                    <tr>
                                        <th>Statistics</th>
                                        <td>
                                            <table class="document-stats">
                                                <tr>
                                                    <th>Availability</th>
                                                    <th>Validity rate</th>
                                                    <th>Size</th>
                                                    <th>Avg. DL. speed</th>
                                                </tr>
                                                <tr>
                                                    <td th:text="${documentNode.availabilityPercentage + '%'}">100%</td>
                                                    <td th:text="${documentNode.validityPercentage + '%'}">100%</td>
                                                    <td th:text="${documentNode.currentSize / 1024.0 + 'kB'}">10kB</td>
                                                    <td th:text="${documentNode.averageDownloadSpeed / 1024 + 'kB/sec'}">28 kB/sec</td>
                                                </tr>
                                            </table>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="tree-sub-node-with-branches" th:if="${!agencyNode.childrenAgencyNodes.isEmpty()}">
            <div class="tree-branches">
                <div class="tree-branch-vh"></div>
            </div>
            <div class="tree-sub-node-wrapper">
                <div class="tree-node expandable-tree-node expandable-tree-node-sub-agencies">
                    <label>Sub-agencies (<span th:text="${agencyNode.childrenAgencyNodes.size()}">5</span>)</label>
                    <button>+</button>
                </div>

                <div class="tree-sub-nodes" th:each="childAgencyNode, iterChildAgencyNode : ${agencyNode.childrenAgencyNodes}">
                    <div class="tree-sub-node-with-branches">
                        <div class="tree-branches">
                            <div class="tree-branch-vh"></div>
                            <div th:if="${!iterChildAgencyNode.last}" class="tree-branch-v"></div>
                        </div>
                        <div class="tree-sub-node-wrapper">
                            <th:block th:include="fragment/agency :: agency (agencyNode=${childAgencyNode})"/>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</th:block>

</body>
</html>