/**
 * Stylesheet for the homepage.
 *
 * @author Marc Plouhinec
 */

body {
    font-family: Verdana, sans-serif;
    font-size: 12px;
}

/*
 * General tree node
 */

.tree-node {
    border-radius: 4px;
    border: 1px solid;
    word-wrap: break-word;
}

.inactive-tree-node {
    opacity: 0.4;
}

.tree-node-header {
    display: flex;

    padding: 8px;
    border-bottom: 1px solid;
    border-bottom-color: inherit;
}

.tree-node-header-name {
    display: block;
    flex: 1;
    color: black;
}

.tree-node-header-status {
    font-weight: bold;
    padding-left: 8px;
}

table.tree-node-properties {
    table-layout: fixed;
    font-size: 11px;
}

table.tree-node-properties > tbody > tr > th {
    width: 90px;
    padding: 2px;

    text-align: left;
    vertical-align: top;
}

table.tree-node-properties > tbody > tr > td {
    padding: 2px;
}

.expandable-tree-node {
    display: flex;
    align-items: center;
    width: 172px;
    border-radius: 4px;
    padding: 4px;
}

.expandable-tree-node > label {
    flex: 1;
}

/*
 * General tree children
 */

.tree-sub-nodes {
    display: flex;
    flex-direction: column;
    padding-left: 20px;
}

.tree-sub-node-with-branches {
    display: flex;
}

.tree-branches {
    display: flex;
    flex-direction: column;
    width: 20px;
}

.tree-branch-vh {
    width: 100%;
    height: 36px;
    border-left: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
}

.tree-branch-v {
    width: 100%;
    flex: 1;
    border-left: 1px solid #ccc;
}

.tree-sub-node-wrapper {
    display: flex;
    flex-direction: column;
    flex: 1;
    padding-top: 24px;
}

/*
 * Agency
 */

.tree-node-agency {
    width: 600px;
    background-color: #FFFFC8;
    border-color: #FDBE2D;
}

table.agency-names {
    table-layout: fixed;
    border-collapse: collapse;
}

table.agency-names > tbody > tr > th {
    color: #509fe1;
    text-align: left;
}

button.show-agency-names {
    width: 160px;
}

.expandable-tree-node-sub-agencies {
    border-color: #058149;
    background-color: #abcf99;
}

/*
 * Document
 */

.tree-node-document {
    width: 700px;
    border-color: #5c49a0;
    background-color: #aea5d4;
}

.expandable-tree-node-documents {
    border-color: #5c49a0;
    background-color: #aea5d4;
}

table.document-stats {
    table-layout: fixed;
    border-collapse: collapse;
    width: 100%;
}

table.document-stats > tbody > tr > th, table.document-stats > tbody > tr > td {
    border: 1px solid #5c49a0;
    text-align: center;
}
