<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Trust Service Reputation</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link th:href="@{/css/index.css}" rel="stylesheet" media="screen"/>
</head>
<body>

<div id="header">
    Trust Service Reputation
</div>

<div id="body-content">
    <!--/*@thymesVar id="rootAgencyNode" type="fr.marcsworld.model.dto.AgencyNode"*/-->
    <th:block th:include="fragment/agency :: agency (agencyNode=${rootAgencyNode})"/>
</div>

<div id="footer">
    Any question? Want an extended access to our database? or automatic notifications?
    Please&nbsp;<a href="mailto:m_plouhinec@yahoo.fr">contact us</a>.
</div>

<script th:src="@{/vendor/jquery-3.2.1.min.js}"></script>
<script th:src="@{/script/treeController.js}"></script>
<script th:src="@{/script/mainController.js}"></script>
</body>
</html>