<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Trust Service Reputation</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link th:href="@{/css/index.css}" rel="stylesheet" media="screen"/>
</head>
<body>
<div class="agency">
    <div class="agency-header">
        European Commission
    </div>
    <table class="agency-properties">
        <tbody>
        <tr>
            <th>Type</th>
            <td>TRUST_SERVICE_LIST_OPERATOR</td>
        </tr>
        <tr>
            <th>Referenced by</th>
            <td>https://ec.europa.eu/information_society/policy/esignature/trusted-list/tl-mp.xml</td>
        </tr>
        <tr>
            <th>Status</th>
            <td>Active</td>
        </tr>
        <tr>
            <th>Territory</th>
            <td>EU</td>
        </tr>
        <tr>
            <th>Names</th>
            <td>
                <table class="agency-names">
                    <tr><th>en</th><td>European Commission</td></tr>
                    <tr><th>fr</th><td>Commission Européenne</td></tr>
                </table>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>